In [6]:

import os
import pandas
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from datetime import datetime
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
import tensorflow as tf
from matplotlib import pyplot
from sklearn.metrics import accuracy_score
import random

path = os.path.join(os.getcwd(), "international_matches.csv")
dataset = pandas.read_csv(path)

df = dataset.sort_values('home_team_total_fifa_points')
df.tail()

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,shoot_out,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
20448,2018-07-14,Belgium,England,Europe,Europe,5,7,2124,2099,2,...,No,Win,89.0,82.0,83.5,87.3,85.8,82.8,83.3,82.8
20443,2018-07-06,Brazil,Belgium,South America,Europe,4,5,2160,2124,1,...,No,Lose,83.0,89.0,86.8,87.0,83.8,83.5,87.3,85.8
20437,2018-07-02,Brazil,Mexico,South America,North America,4,10,2160,2041,2,...,No,Win,83.0,79.0,86.8,87.0,83.8,77.8,81.0,80.0
20446,2018-07-10,France,Belgium,Europe,Europe,2,5,2164,2124,1,...,No,Win,88.0,89.0,84.0,86.3,86.2,83.5,87.3,85.8
20449,2018-07-15,France,Croatia,Europe,Europe,2,12,2164,2036,4,...,No,Win,88.0,85.0,84.0,86.3,86.2,80.8,79.3,85.8